@model WebApplication2.Models.Client;


@{
    Layout = "~/Views/Shared/_LayoutMenuPizza.cshtml";
}

<div class="container">
    <p>@Model.ClientLastName @Model.ClientFirstName</p>
    <h3>Vos anciennes commandes</h3>
    @foreach(var commande in Model.Commandes)
    {
        <p>Commande N° @commande.CommandeId </p>
        foreach(var ligne in commande.ligneDeCommandes)
        {
            <ul>
                <li> @ligne.Pizza.Nom</li>
                
            </ul>
        }
        <h4>Payée @commande.PrixTotal €</h4>
    }
</div>

