@model WebApplication2.ViewModel.OptionViewModel;

@{
    ViewData["Title"] = "Create";
}

@{
    <div class="menu-create-ligne-commande-container">
        <div class="table-ingredient-options">
            <h2 class="">Ajouter des extras à votre 🍕</h2>
            <table class="tableau">
                <tr>
                    <th> Nom </th>
                    <th>Prix</th>
                    <th>Végétarien</th>
                    <th>Ajouter</th>

                </tr>


                @foreach (var ingredient in Model.ingredients)

                {
                    <tr class="tr-extra-ingredient">
                        <td>@ingredient.Nom</td>
                        <td>@ingredient.Prix €</td>
                        <td>@ingredient.Vegetarien</td>

                        <td>
                            <a href="@Url.Action("AddExtraIngredientInLigneDeCommande","menu", new{ LigneDeCommandeId =  Model.LigneDeCommande.LigneDeCommandeId, ingredientId = ingredient.IngredientId})"> <button> + </button></a>
                            <a href="@Url.Action("DeleteExtraIngredientInLigneDeCommande","menu", new{ LigneDeCommandeId =  Model.LigneDeCommande.LigneDeCommandeId, ingredientId = ingredient.IngredientId})"> <button> - </button></a>
                         </td>
                    </tr>
                }

            </table>
        </div>
        <div class="add-pizza-in-ligne-container">

            <h3>Votre Pizza</h3>
            <table> 
           
                
                        <p>@Model.LigneDeCommande.Pizza.Nom</p>
                    <h5>Vos Ingrédients</h5>
                    <ul>
                        @foreach (var ingredient in Model.LigneDeCommande.Pizza.Ingredients)
                        {
                            <li>@ingredient.Nom @ingredient.Prix €</li>
                        }
                    </ul>
                      
                        @if(Model.LigneDeCommande.Ingredients != null)
                        {
                            <p>Extra :</p>
                            @foreach (var extra in Model.LigneDeCommande.Ingredients)
                            {
                                <li>  @extra.Nom @extra.Prix €</li>
                            }
                        }
                        else
                        {
                            <p> Aucun ingrédient ajouter  </p>
                        }

                    
                    <span class="btn-ajouter"><a href="@Url.Action("")"> Ajouter </a></span>
                   
            
            </table>
          

        </div>
    </div>
    }
