@model IEnumerable<WebApplication2.Models.Pizza>;

@{
    Layout = "~/Views/Shared/_LayoutMenuPizza.cshtml";
}
@if(Model == null)
{
    <p>Aucune pizza disponible</p>
}
@foreach (var pizza in Model)
{

    <div class="menu-pizza">
        <span class="menu-pizza-nom">@pizza.Nom</span> <span class="menu-pizza-price">@pizza.Prix €</span>
        <div class="item-pizza-ingredient">
   
            @for(int i = 0; i < pizza.Ingredients.Count; i++)
            {
                <span>@pizza.Ingredients[i].Nom,</span>
            }
            @(pizza.Ingredients.Count <= 0 ? "aucun ingrédient sélectionné" : @pizza.Ingredients.Last().Nom)
        </div>
        @if (pizza.Vegetarienne)
        {
            <span class="menu-pizza-vege">VÉGÉTARIENNE</span>
        }

    </div>


}