@using Microsoft.AspNetCore.Identity
@model WebApplication2.ViewModel.PizzaCommandeViewModel;

@{
    Layout = "~/Views/Shared/_LayoutMenuPizza.cshtml";

}

<header>

    <nav class="nav-commandes">
        <div class="h1-commandes">
            <h1> Client : @Model.Commande.ClientID</h1>
        </div>
        <ul class="nav-validation-commande">
           
                <li class="nav-validation-commande-li">
                    <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                        <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
                    </form>
                </li>
            <li class="nav-validation-commande-li">
                <a href=@Url.Action("Index","Client", new {ClientId = Model.Commande.ClientID})>Votre Compte  </a>
            </li>
           
        </ul>
    </nav>
</header>


<div class="menu-pizza-content">
    <div class="main-pizza-content">
        <img class="menu-pizza-small-logo" src="/images/small_logo.png" />
        <h1 class="menu-pizza-h1">Les Pizzas</h1>
        @if (Model == null)
        {
            <p>Aucune pizza disponible</p>
        }
        @{

            float prixTotal = 0;



        }

        @foreach (var pizza in Model.Pizzas)
        {


            <div class="menu-pizza">
                <div>   <span class="menu-pizza-nom">@pizza.Nom</span> <span class="menu-pizza-price">@pizza.Prix €</span></div>
                <div class="item-pizza-ingredient">

                    @for (int i = 0; i < pizza.Ingredients.Count - 1; i++)
                    {
                        <span>@pizza.Ingredients[i].Nom,</span>
                    }
                    @(pizza.Ingredients.Count <= 0 ? "aucun ingrédient sélectionné" : @pizza.Ingredients.Last().Nom)  
                  
                        <span class="btn-ajouter"><a href="@Url.Action("CreateLigneDeCommande","menu",new{PizzaId = pizza.PizzaId, CommandeId = Model.Commande.CommandeId})"> AJOUTER </a> </span>

                             
                </div>
                @if (pizza.Vegetarienne)
                {
                    <span class="menu-pizza-vege">VÉGÉTARIENNE</span>
                }
            </div>

        }


    </div>
    @if(Model.Commande != null)
    {
        @if (Model.Commande.ligneDeCommandes.Count < 1)
        {

        }
        else
        {
            <div class="commande-client-tableau">


                <h2 class="commande-client-tableau-h1">Votre commande</h2>
                <div class="commande-client-tableau-content">
                    <p>Numéro de la commande : @Model.Commande.CommandeId</p>

                    @foreach (var ligne in Model.Commande.ligneDeCommandes)
                    {

                        prixTotal += ligne.PrixUnitaire * ligne.QuantitePizza;

                        <div class="commande-client-tableau-item">
                            <div class="div-quantite-pizza">
                                <span class="btn-quantite"> <a class="btn-quantite-a" href="@Url.Action("AddPizzaQuantity","menu",new{PizzaId = ligne.Pizza.PizzaId, CommandeId = Model.Commande.CommandeId, LigneDecommandeId = ligne.LigneDeCommandeId})">+ </a></span>
                                @if (ligne.QuantitePizza > 1)
                                {
                                    <span class="btn-quantite"> <a class="btn-quantite-a" href="@Url.Action("DeletePizzaQuantity","menu",new{PizzaId = ligne.Pizza.PizzaId, CommandeId = Model.Commande.CommandeId, LigneDecommandeId = ligne.LigneDeCommandeId})">-</a></span>
                                }
                            </div>

                            <div class="ligne-de-commande-content">
                                <p class="p-ligne-de-commande-content">@ligne.QuantitePizza x @ligne.Pizza.Nom <span> @ligne.PrixUnitaire €</span></p>

                                @if (ligne.Ingredients != null)
                                {

                                    @foreach (var ingredient in ligne.Ingredients)
                                    {

                                        <span class="test-option"> @ingredient.Nom</span>

                                    }
                                }
                                else
                                {
                                    <p class="test-option">pas d'option</p>
                                }

                            </div>
                            <span class="btn-delete"><a href="@Url.Action("DeleteLigneDeCommandeInCommande","menu",new{LigneDeCommandeId = ligne.LigneDeCommandeId})">❌ </a></span>

                        </div>

                    }

                    <p>Le prix total est de @prixTotal € </p>

                </div>


                <div class="commande-client-div-button">
                    <button class="commande-client-button"> <a href=@Url.Action("Validation","menu", new {CommandeId = Model.Commande.CommandeId})>Commander</a> </button>

                </div>
            </div>
        }
    }

    
 
 
</div>
