@model WebApplication2.ViewModel.PizzaCommandeViewModel;

@{
    Layout = "~/Views/Shared/_LayoutMenuPizza.cshtml";
}
<div class="menu-pizza-content">
    <div class="main-pizza-content">
        <img class="menu-pizza-small-logo" src="/images/small_logo.png" />
        <h1 class="menu-pizza-h1">Les Pizzas</h1>
        @if (Model == null)
        {
            <p>Aucune pizza disponible</p>
        }
        @{

            float prixTotal = 0;



        }

        @foreach (var pizza in Model.Pizzas)
        {


            <div class="menu-pizza">
                <span class="menu-pizza-nom">@pizza.Nom</span> <span class="menu-pizza-price">@pizza.Prix €</span>
                <div class="item-pizza-ingredient">

                    @for (int i = 0; i < pizza.Ingredients.Count - 1; i++)
                    {
                        <span>@pizza.Ingredients[i].Nom,</span>
                    }
                    @(pizza.Ingredients.Count <= 0 ? "aucun ingrédient sélectionné" : @pizza.Ingredients.Last().Nom)


                    <span class="btn-ajouter"><a href="@Url.Action("AddPizzaInLigneDeCommande","menu",new{PizzaId = pizza.PizzaId, CommandeId = Model.Commande.CommandeId})"> Ajouter </a> </span>

                </div>
                @if (pizza.Vegetarienne)
                {
                    <span class="menu-pizza-vege">VÉGÉTARIENNE</span>
                }
            </div>

        }


    </div>
    <div class="commande-client-tableau">
        <h1 class="commande-client-tableau-h1">Votre commande</h1>
        <div class="commande-client-tableau-content">
            <p>Numéro de la commande : @Model.Commande.CommandeId</p>

            @foreach (var ligne in Model.Commande.ligneDeCommandes)
            {

                prixTotal += @ligne.Pizza.Prix;
                <div class="commande-client-tableau-item">

                    <p>@ligne.Pizza.Nom <span> @ligne.Pizza.Prix €</span></p>
                    <span class="btn-supprimer"><a href="@Url.Action("DeleteLigneDeCommandeInCommande","menu",new{LigneDeCommandeId = ligne.LigneDeCommandeId, CommandeId = Model.Commande.CommandeId})">❌ </a></span>

                </div>

            }


            <p>Le prix total est de @prixTotal € </p>

        </div>


        <div class="commande-client-div-button">
            <button class="commande-client-button">Commander</button>
        </div>
    </div>
</div>
