@model WebApplication2.ViewModel.PizzaCommandeViewModel;

@{
    Layout = "~/Views/Shared/_LayoutMenuPizza.cshtml";
}
<div class="menu-pizza-content">
    <div class="main-pizza-content">
        <img class="menu-pizza-small-logo" src="/images/small_logo.png" />
        <h1 class="menu-pizza-h1">Les Pizzas</h1>
        @if (Model == null)
        {
            <p>Aucune pizza disponible</p>
        }
        @{

            float prixTotal = 0;



        }

        @foreach (var pizza in Model.Pizzas)
        {


            <div class="menu-pizza">
                <span class="menu-pizza-nom">@pizza.Nom</span> <span class="menu-pizza-price">@pizza.Prix €</span>
                <div class="item-pizza-ingredient">

                    @for (int i = 0; i < pizza.Ingredients.Count - 1; i++)
                    {
                        <span>@pizza.Ingredients[i].Nom,</span>
                    }
                    @(pizza.Ingredients.Count <= 0 ? "aucun ingrédient sélectionné" : @pizza.Ingredients.Last().Nom)

                    @if (Model.Commande.ligneDeCommandes.All(lc => lc.PizzaId != pizza.PizzaId))
                    {
                        <span class="btn-ajouter"><a href="@Url.Action("AddPizzaInLigneDeCommande","menu",new{PizzaId = pizza.PizzaId, CommandeId = Model.Commande.CommandeId})"> Ajouter </a> </span>

                    }

                </div>
                @if (pizza.Vegetarienne)
                {
                    <span class="menu-pizza-vege">VÉGÉTARIENNE</span>
                }
            </div>

        }


    </div>





    <div class="commande-client-tableau">
        <h2 class="commande-client-tableau-h1">Votre commande</h2>
        <div class="commande-client-tableau-content">
            <p>Numéro de la commande : @Model.Commande.CommandeId</p>

            @foreach (var ligne in Model.Commande.ligneDeCommandes)
            {

                prixTotal += @ligne.Pizza.Prix * ligne.QuantitePizza;
                <div class="commande-client-tableau-item">
                    <div class="div-quantite-pizza">
                        <span class="btn-quantite"> <a href="@Url.Action("AddPizzaQuantity","menu",new{PizzaId = ligne.Pizza.PizzaId, CommandeId = Model.Commande.CommandeId, LigneDecommandeId = ligne.LigneDeCommandeId})">+ </a></span>
                        @if (ligne.QuantitePizza > 1)
                        {
                            <span class="btn-quantite"> <a href="@Url.Action("DeletePizzaQuantity","menu",new{PizzaId = ligne.Pizza.PizzaId, CommandeId = Model.Commande.CommandeId, LigneDecommandeId = ligne.LigneDeCommandeId})">-</a></span>
                        }
                    </div>


                    <div>
                        <p>@ligne.QuantitePizza x @ligne.Pizza.Nom <span> @ligne.Pizza.Prix €</span></p>
                        <button> <a class="a-extra"> Ajouter Extra  <a /> </button>

                        @if (Model.Option != null)
                        {
                            
                            @foreach (var option in Model.Option)
                            {
                                
                                if (option.LigneDecommandeId == ligne.LigneDeCommandeId)
                                {

                                    <span class="test-option"> @option.Iingredient.Nom</span>
                                }
                            }
                        }
                        else
                        {
                            <p class="test-option">pas d'option</p>
                        }

                    </div>
                    <span class="btn-delete"><a href="@Url.Action("DeleteLigneDeCommandeInCommande","menu",new{LigneDeCommandeId = ligne.LigneDeCommandeId, CommandeId = Model.Commande.CommandeId})">❌ </a></span>

                </div>

            }



            <p>Le prix total est de @prixTotal € </p>

        </div>


        <div class="commande-client-div-button">
            <button class="commande-client-button">Commander</button>
        </div>
    </div>
    <div class="table-ingredient-options">
        <h2 class="">Ajouter des extras à votre 🍕</h2>
        <table class="tableau">
            <tr>
                <th> Nom </th>
                <th>Prix</th>
                <th>Végétarien</th>
                <th>Ajouter</th>

            </tr>


            @foreach (var ingredient in Model.ingredients)

            {
                <tr class="tr-extra-ingredient">
                    <td>@ingredient.Nom</td>
                    <td>@ingredient.Prix €</td>
                    <td>@ingredient.Vegetarien</td>

                    <td>
                        <a href=""> <button> + </button></a>
                        <a> <button> - </button></a>
                    </td>
                </tr>
            }

        </table>
    </div>
</div>
