@model WebApplication2.Models.PizzaViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Modifiez votre pizza</h1>

<hr />
<div class="edit-content">
    <div>
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Pizza.PizzaId" />
            <div class="form-group">
                <label asp-for="Pizza.Nom" class="control-label"></label>
                <input asp-for="Pizza.Nom" class="form-control" />
                <span asp-validation-for="Pizza.Nom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pizza.Prix" class="control-label"></label>
                <input asp-for="Pizza.Prix" class="form-control" />
                <span asp-validation-for="Pizza.Prix" class="text-danger"></span>
            </div>
            <div>
                <h3>Ingrédients</h3>
                <ul> 

                    @foreach (var ingredient in Model.Pizza.Ingredients)
            {
               <li>@ingredient.Nom</li>
                      

            }
                </ul>
                
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Pizza.Vegetarienne" /> @Html.DisplayNameFor(model => model.Pizza.Vegetarienne)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
        <a asp-action="Index">Back to List</a>
    </div>
    <div>

       
    </div>
    <div class="edit-table-ingredient">
        <h2 class="edit-table-title">Liste d'ingrédients</h2>
        <table class="tableau">
            <tr>
                <th> Nom </th>
                <th>Prix</th>
                <th>Végétarien</th>
                <th>Ajouter</th>

            </tr>

          
            @foreach (var ingredient in Model.IngredientsDisponible)

            {
                if (Model.Pizza.Ingredients.Any(i => i.IngredientId == ingredient.IngredientId))
                {
                    <tr class="tr-condition-ingredient">
                        <td>@ingredient.Nom</td>
                        <td>@ingredient.Prix €</td>
                        <td>@ingredient.Vegetarien</td>

                        <td>
                            <a href="@Url.Action("DeleteIngredientInPizza", "Pizza", new { PizzaId = Model.Pizza.PizzaId, IngredientId = ingredient.IngredientId })"> <button> -</button></a>
                        </td>
                    </tr>
                }
                else
                {
                    <tr class="tr-condition-ingredient-null">
                        <td>@ingredient.Nom</td>
                        <td>@ingredient.Prix €</td>
                        <td>@ingredient.Vegetarien</td>

                        <td>
                            <a href="@Url.Action("AddIngredientInPizza", "Pizza", new { PizzaId = Model.Pizza.PizzaId, IngredientId = ingredient.IngredientId })"> <button>+ </button></a>
                           
                        </td>
                    </tr>
                }
                    
               
              

            }
        </table>

        @{
            float prixTotal = 5;
            foreach(var ingredient in Model.Pizza.Ingredients)
            {
                prixTotal = prixTotal + ingredient.Prix;
            }
            <h6>Le prix total de votre pizza est de @prixTotal € </h6>
        }
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
