@model WebApplication2.Models.PizzaViewModel

@{
    ViewData["Title"] = "Edit";
}



<hr />
<div class="edit-content">
    <div class=" form-content">
        <form asp-action="Edit" class="formulaire">
            <h1>Modifiez votre pizza</h1>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Pizza.PizzaId" />
            <div class="form-group">
                <label asp-for="Pizza.Nom" class="control-label"></label>
                <input asp-for="Pizza.Nom" class="form-control" />
                <span asp-validation-for="Pizza.Nom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pizza.Prix" class="control-label"></label>
                <input asp-for="Pizza.Prix" class="form-control" />
                <span asp-validation-for="Pizza.Prix" class="text-danger"></span>
            </div>
            <div>
                <h3> Vos Ingrédients :</h3>
                <div class="edit-ingredient-in-pizza-div">


                    <p>

                        @{
                            for (int i = 0; i < Model.Pizza.Ingredients.Count - 1; i++)
                            {

                                <span> @Model.Pizza.Ingredients[i].Nom,  </span>
                            }

                            @(Model.Pizza.Ingredients.Count <= 0 ? "aucun ingrédient sélectionné" : @Model.Pizza.Ingredients.Last().Nom)

                        }
                    </p>
                </div>

            </div>

            @if (Model.Pizza.Ingredients.Count <= 0)
            {
            }
            else
            {
                <p class="condition-vege">  @(Model.Pizza.Vegetarienne ? " Votre pizza est végétarienne 🌱" : " Votre Pizza n'est pas végétarienne 🍖") </p>

            }

            <div class="form-group">
                
            </div>
        </form>
        <a asp-action="Index"><input type="submit" value="Valider" class="btn btn-primary" /></a>
    </div>
    <div>
    </div>
    <div class="edit-table-ingredient">
        <h2 class="edit-table-title">Liste d'ingrédients</h2>
        <table class="tableau">
            <tr>
                <th> Nom </th>
                <th>Prix</th>
                <th>Végétarien</th>
                <th>Quantité</th>

            </tr>


            @foreach (var ingredient in Model.IngredientsDisponible)

            {
                if (Model.Pizza.Ingredients.Any(i => i.IngredientId == ingredient.IngredientId))
                {
                    <tr class="tr-condition-ingredient">
                        <td>@ingredient.Nom</td>
                        <td>@ingredient.Prix €</td>
                        <td>@ingredient.Vegetarien</td>

                        <td>
                            <input type="number" id="tentacles" name="tentacles" min="1" max="5" />
                            <a href="@Url.Action("DeleteIngredientInPizza", "Pizza", new { PizzaId = Model.Pizza.PizzaId, IngredientId = ingredient.IngredientId })"> <button> -</button></a>
                        </td>
                    </tr>
                }
                else
                {
                    <tr class="tr-condition-ingredient-null">
                        <td>@ingredient.Nom</td>
                        <td>@ingredient.Prix €</td>
                        <td>@ingredient.Vegetarien</td>

                        <td>
                            <input type="number" id="tentacles" name="tentacles" min="1" max="5" />
                            <a href="@Url.Action("AddIngredientInPizza", "Pizza", new { PizzaId = Model.Pizza.PizzaId, IngredientId = ingredient.IngredientId })"> <button>+ </button></a>

                        </td>
                    </tr>
                }




            }
        </table>

        @{

            <h6>Le prix total de votre pizza est de @Model.Pizza.Prix € </h6>
        }
    </div>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
